<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Event Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      {% if session['logged_in']: %}
      <li class="nav-item">
        <a class="nav-link" href="/events">Event</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/guests">Guests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/setting">Settings</a>
      <li class="nav-item">
        <a class="nav-link" href="/menulist">Menu List</a>
      </li>
      {% endif %}
      {% if session['admin']: %}
        <li class="nav_item">
          <a class="nav-link" href="/create_admin">Admin Page</a>
        </li>
      {% endif %}
      {% if session['admin']: %}
        <li class="nav_item">
          <a class="nav-link" href="/mailing_lists">Mailing lists</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/select_users_for_group_email_to_mailing_list">Send email to users</a>
        </li>
      {% endif %}
    </ul>


    <ul class="nav navbar-nav navbar-right" style="padding-right:10px">
            {% if session.logged_in %}
              <li><a href="/logout">Logout</a></li>
            {% endif %}
    </ul>
  </div>

</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
