{% extends 'index.html'%}

{% block body %}
<div class="container">
    <h1>All Users</h1>
    <input type="button" onclick="location.href='/top_donors';" value="View Top Donors" />
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.id }}</td>
            <td>{{ guest.first_name }} {{ guest.last_name }}</td>
            <td>{{ guest.email }}</td>
            <td><a class="nav-link" href="/view_account/{{guest.id}}" style="color: rgb(0,0,255)">View Details</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
