{% extends 'index.html'%}

{% block body %}
<h1>Create Admin</h1>
<body> 
  <div id=search>
    <form action="" method="post" name="search">
      {{ form.hidden_tag() }}
      <p>
        Search user:
        {{ form.username(size=30) }}
      </p>
      <input type = "submit" value="Search"></input>
    </form>
    {% if myUser != None %}
      <div id ="user" method="post" name="made_admin" >
        <tr>
          <td>
            <a class="nav-link" href="/make_admin/{{ myUser.username }}">
            {{ myUser.username }}
            </a>
          </td>
        </tr>
      </div> 
    {% endif %}
  </div>
  <ul>
  {% for user in users: %}
  <li>{{    user.username }}</li>
  {% endfor %}
  </ul>
</body>
{% endblock %}
