{% extends 'index.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<h1>Register Account</h1>
<form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
        Email:
        {{ form.email(size = 16) }} <br>
        First Name:
        {{ form.first_name(size = 16) }} <br>
        Last Name:
        {{ form.last_name(size = 16) }} <br>
        Phone Number:
        {{ form.phone(size = 16) }} <br>
        {{ wtf.form_field(form.has_dietary_requirements) }}<br>
        <div id="requirements_input">
            Dietary Requirements:<br>
            {{ form.dietary_requirements }}
        </div>



    </p>
    <p><input type="submit" value="Update Account"></p>
    <p>
</form>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$( document ).ready(function(){
    $.getJSON('/get_dietary_bool', function(data) {
        if(data.bool){
            $("#requirements_input").show();
        }else{
            $("#requirements_input").hide();
        }
    });

    $('#has_dietary_requirements').change(function(){
        if(this.checked){
            $("#requirements_input").show();
        }else{
            $("#requirements_input").hide();
        }

    });
});
</script>
{% endblock %}
