{% extends 'index.html'%}
{% block body %}



<style>
body {
    font-family: Arial;
    color: black;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 60px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

</style>

 <div class="split left">   <!-- Set Div As your requirement -->

<h1>Add email to mailing list</h1>

<form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
        Please enter the email address <br>
        {{ form.email(size = 16) }} <br>
        Please enter last name:<br>
        {{ form.last_name(size=16) }}<br>
        Please enter first name:<br>
        {{ form.first_name(size=16) }}<br>
    </p>
    <p><input type="submit" value="Add"></p>

    <p>
</form>


</div>

<div class="split right">   <!-- Set Div As your requirement -->

<h1>mailing list<h1>
  {% for recipient in myRecipient %}
    <li>
      <font size="2">
        {{recipient.email}}
      </font>
    </li>
  {% endfor %}
</div>



{% endblock %}
