{% extends 'index.html'%}

{% block body %}
<h1> Event</h1>
{% if session['admin'] %}
<h3><a class="nav-link" href="{{ url_for('guest_list', id = event.id) }}">View Guest List</a></h3>
<h3><a class="nav-link" href="{{ url_for('edit_event', ev_id = event.id) }}">Edit Event</a></h3>
{% endif %}
<a href="/events">Back to List</a>
<br>
<h1><b>Title: </b>{{ event.title }}</h1>
<br>
<h2><b>Location: </b>{{ event.location }}</h2>
<br>
<p><b>Description</b></p>
<p>{{ event.description }}</p>

<p>To get you ticket please click on button below</p>
<input type="button" onclick="location.href='/event/ticket/{{event.id}}';" value="Get a ticket" />
{% endblock %}
