{% extends 'index.html'%}

{% block body %}
<h1>Register Account</h1>
<form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
        Please enter your email <br>
        {{ form.email(size = 16) }} <br>
        Please enter your username:<br>
        {{ form.username(size=16) }}<br>
        Please enter your password:<br>
        {{ form.password(size=16) }}<br>
        Please confirm your password:<br>
        {{ form.confirm(size=16) }}
    </p>
    <p><input type="submit" value="register"></p>
    <p>
</form>
{% endblock %}
