{% extends 'index.html'%}

{% block body %}
<h1>Edit table {{t.table_name }}</h1>
<body>
   <div id=search>
    <form action="" method="post" name="search">
      {{ form.hidden_tag() }}
      <p>
        Search user:
        {{ form.username(size=30) }}
        <input type = "submit" value="Search"></input>
      </p>
    </form>
    {% if myUser != None %}
      <div id ="user" method="post" name="add_to_table" >
        <tr>
          <td>
             <a class="nav-link" href="/event/{{event_id}}/tableArrangement/{{table_id}}/edit/{{myUser.id}}/add">
           add  {{ myUser.username }} to table
            </a>
          </td>
        </tr>
      </div> 
    {% endif %}
  </div>
  

  <div id = ChangeName>
    <h6>change table name of non corporate entity</h6>
    <form action="" method="post" name="ChangeName">
      {{ nameForm.hidden_tag() }}
      <p>
        Enter name:
        {{ nameForm.name(size=30) }}
        <input type = "submit" name="btn2"  value="ChangeName"></input>
      </p>
    </form>
  </div>
  <table style="width:100%">
    <tr>
      <td><table>
        <tr>
          <th>Awaiting Seat </th>
        </tr>
        <tr>
          {% for usr in users: %}
            {% if not usr.seated: %}
            <td>{{ usr.user.username }}</td><br>
            {% endif %}
          {% endfor %}
        </tr>
      </table></td>
      <td><table>
        <tr>
          <th> Seated </th>
        </tr>
        <tr>
          {% for usr in t.guests %}
            <td> {{ usr.user.username }}  <a class="nav=link" href='/event/{{event_id}}/tableArrangement/{{t.id}}/edit/{{usr.user_id}}/remove'/>remove</a></td>
            <br>
          {% endfor %}
        </tr>
      </table></td>
    </tr>
  </table>

  <p> change table name and so it is owned by a corporate entity<a href="/event/{{event_id}}/tableArrangement/{{t.id}}/edit/corporate"> here</a></p>
  <div>


    <p>back to Table management<a href="/event/{{event_id}}/tableArrangement"> here</a></p>

  </div>
</body>
{% endblock %}
