{% extends 'index.html'%}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
//run_update();
//$(document).ready(function()
//{
//    setInterval(function(){ run_update(); }, 1000);
//});
//function run_update(){
//$.getJSON('/updater', function(data) {
//    $("#current").text(data.current);


</script>
<h1> Total Raised</h1>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class = "text-center">€{{ total }}</h2>
                <!--p id=current></p-->
            </div>
        </div>
    </div>
</body>
{% endblock %}
